html,
body {
  background: whitesmoke;
}

.gm-printer-label-edit {
  min-height: 100vh;

  .gm-printer-label-edit-header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 280px;
    padding: 10px;
    right: 0;
    z-index: 99;
    background: white;
    box-shadow: -2px 0 3px 0 hsla(0, 0%, 39%, 0.1);

    span.gm-printer-label-edit-btn {
      cursor: pointer;
      padding: 0 5px;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid rgba(51, 51, 51, 0.1);
      }

      &.active {
        border: 1px solid rgba(51, 51, 51, 0.1);
        background: rgba(51, 51, 51, 0.1);
      }
    }

    select {
      outline: none;
      border: none;
    }

    input {
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      background: transparent;
    }
  }

  .gm-printer-label-edit-content {
    position: relative;
    padding-right: 300px;
  }

  .gm-printer-label-edit-tip {
    padding: 10px;
    text-align: center;
  }

  // 覆盖 printer
  .gm-printer-label {
    margin: 10px auto;

    .gm-printer-label-page {
      overflow: visible;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      background-image: linear-gradient(whitesmoke 1px, transparent 0), linear-gradient(90deg, whitesmoke 1px, transparent 0);
      background-size: 5px 5px, 5px 5px;
    }

    .gm-printer-label-block {
      cursor: move;

      &:hover,
      &.active {
        outline: 1px solid rgb(82, 146, 247);
      }

      &.gm-printer-label-block-type-qrcode {
        div[data-qrcode] {
          outline: 1px solid red;

          &::before {
            content: attr(data-placeholder);
            position: absolute;
            font-style: italic;
            left: calc(50% - 1.5em);
            top: calc(50% - 0.5em);
          }
        }
      }

      div[data-packagecode] {
        outline: 1px solid red;
        &::before {
          content: '条形码';
          position: absolute;
          font-style: italic;
          left: calc(50% - 1.5em);
          top: calc(50% - 0.5em);
        }
      }

      .gm-printer-label-block-text-edit {
        display: inline-block;
        position: absolute;
        z-index: 99;
        background: white;
        top: calc(100% + 5px);
        left: 0;
        min-width: 100%;
        font-size: initial;
      }
    }
  }
}

@media print {
  * {
    outline: none !important;
  }

  html,
  body {
    background: white;
  }

  .gm-printer-label-edit {
    min-height: auto;

    .gm-printer-label-edit-header {
      display: none;
    }

    .gm-printer-label-edit-content {
      padding-right: 0;

      .gm-printer-label-edit-help {
        display: none;
      }
    }

    .gm-printer-label-edit-tip {
      display: none;
    }

    // 覆盖 printer
    .gm-printer-label {
      margin: 0;

      .gm-printer-label-page {
        overflow: hidden;
        box-shadow: none;
      }
    }
  }
}
